extends layout

block content
  .flex-col(style=`padding: 20px 20px `)
  h1 404 - There is nothing here
  h2 It seems you are look for something that is not located somewhere else
  //- h1= message
  //- h2= error.status
  //- pre #{error.stack}
