extends layout

block content
  .flex-col(style=`padding: 20px 20px `)
  h1 404 - There is nothing here
  h2 Good luck on your journey!
  //- h1= message
  //- h2= error.status
  //- pre #{error.stack}
