doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/queries.css")
  body
  nav
    .nav-logo
      a.logo-text(href='/gallery')
        | foto
        strong.logo-strong .
    .nav-control
      .nav-main
        a(href='/images/upload') Upload
        a(href='/users/') Users
        a(href=`/users/myprofile/`) My profile
      .gap
      .nav-quit
        a(href='/users/logout') Logout
  //- .login-head(style='padding: 20px 20px 0 20px')
  //-   h4(style="font-size:15px;") Logged in: &nbsp
  //-   h4(name=`${username}` id=`${username}` style=`font-size:15px; `) #{username}
  block content
