extends layout

block content
  section.section-upload.container-small.pad-hor
    h3 Upload Image
    .coll-gap
    form.flex-col(action='/images/upload', method='post', enctype='multipart/form-data')
      .details-container.flex-col(style=`justify-items: flex-start; gap:4px;`)
        input#upload-image( class='upload-image' type='file', name='upload-image')
        input.btn.btn-medSlate-full(type='submit', name='upload', value='Submit ')



