extends layout

block content
  section.section-profile
    .container-large.user-view
      .user-profile.container-small
        .section-profile-image
          .profile-image-container
            img.profile-image(src='/uploads/300x300.png' alt='profile image')
          .upload-image
            a.btn.btn-medSlate-full(href='#uploadImage') Upload
        .section-profile-user
          .profile-username
            h4 {username}
          .profile-uploads
            p Uplaods made: {Total uploads}
          .profile-bio
            p User Bio:
            .profile-bio-box
              | {Bio description}
      .line
      .gallery
        h3 Galleries
        .generate-grid
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
          .box.box-detailed
            .box-image
              a(href='#Gallery')
                img(src='300x300.png' alt='cat')
            a(href='#Gallery') {Gallery name}
            p Images: {num}
      .gallery
        h3 All Photos
        .generate-grid
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
          .box.box-image
            a(href='#')
              img(src='300x300.png' alt='cat')
