extends layout

block content
  section.section-profile
    .container-large.user-view
      .user-profile.container-small
        .section-profile-image
          .profile-image-container
            img.profile-image(src=`${user.profileimage}` alt='profile image')
          .upload-image
            a.btn.btn-medSlate-full(href='#uploadImage') Upload
        .section-profile-user
          .profile-username
            h4 {username}
          .profile-uploads
            p Uplaods made: {Total uploads}
          .profile-bio
            p User Bio:
            .profile-bio-box
              | {Bio description}
      //- .line
      .gallery
        h3 Galleries
        .generate-grid.align-below

          if colls 
            each val, key in colls
              .box.box-detailed
                .box-image
                  a(href='#Gallery')
                    img(src=`${val}` alt='cat')
                a(href='#Gallery') #{key}
                p Images: {num}

      .gallery
        h3 All Photos
        .generate-grid
          if images
            each image, i in images 
              .box.box-image
                a(href='#')
                  img(src=`${image.name}` alt='img')

